<div id="container">
      

	<div class="content">
		<div class="body">
			<div class="blog">

				<% @blogs.each do |blog| %>
					<h1><%= link_to blog.title, blog %></h1>
					<p><%= blog.created_at.strftime("%d %^b") %> | <%= blog.author.name unless blog.author.nil? %></p>
					<img src="<%= asset_path "blog.jpg" %>" />
					<%= truncate_html(blog.body, length: 500) %>
					<p><%= link_to '…read more', blog %></p>
				<% end %>

				<%= will_paginate @blogs, :page_links => false %>
			</div>
		</div>
		<%= render "blogs/share" %>

		<div class="body">
			
		</div>
	</div>
</div>

<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>