<% pagetitle "News" %>

<% content_for :meta do %>
<meta property="og:url" content="<%= request.url %>" /> 
<meta property="og:title" content="Convergence" />
<meta property="og:description" content="Music + Art + Technology" /> 
<meta property="og:image" content="http://<%= request.host %><%= asset_path 'logo.png' %>" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@villunderlondon">
<meta name="twitter:title" content="Convergence news">
<meta name="twitter:description" content="Music + Art + Technology">
<% end %>

<div id="container">
	<div class="content">
		<div class="body">
			<div class="blog">

				<% @blogs.each do |blog| %>
					<h1><%= link_to blog.title, blog %></h1>
					<p class="author"><%= blog.created_at.strftime("%d %^b") %> | <%= link_to blog.author.name.upcase, blog.author unless blog.author.nil? %></p>
					<img src="<%= blog.hero(:small) unless blog.hero_file_name.nil? %>" />
					<p><%= truncate_html(blog.body, length: 500) %></p>
					<p><%= link_to '…read more', blog %></p>
				<% end %>

				<%= will_paginate @blogs, :previous_label => "←", :next_label => "→", :page_links => false %>
			</div>
		</div>
		<%= render "blogs/share" %>

		<div class="body">
			
		</div>
	</div>
</div>

<% content_for :js do %>
<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
<script>
	window.fbAsyncInit = function() {
		FB.init({
		  appId      : '1497478090528421',
		  xfbml      : true,
		  version    : 'v2.1'
		});

		$(function(){
			$("#cvgfb").click(function(e){
				e.preventDefault();
				FB.ui({
				  method: 'share',
				  href: '<%= request.url %>'
				});
			})
		})
	};

	(function(d, s, id){
	 var js, fjs = d.getElementsByTagName(s)[0];
	 if (d.getElementById(id)) {return;}
	 js = d.createElement(s); js.id = id;
	 js.src = "//connect.facebook.net/en_US/sdk.js";
	 fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

</script>
<% end %>