<%= pagetitle @blog.title %>

<% content_for :meta do %>
<meta property="og:url" content="<%= request.url %>" /> 
<meta property="og:title" content="<%= @blog.title %>" />
<meta property="og:description" content="<%= truncate_html(strip_tags(@blog.body.html_safe), length: 500) %>" /> 
<meta property="og:image" content="http://<%= request.host %><%= asset_path 'logo.png' %>" />
<meta property="og:type" content="website" />
<% end %>

<div id="container">
    <img src="<%= @blog.hero unless @blog.hero_file_name.nil? %>" />
	<div class="content">
		<div class="body">
			<div class="blog">
				<h1><%= @blog.title %></h1>
				<div class="datesquare">
					<p><%= @blog.created_at.strftime("%d") %></p>
					<p><%= @blog.created_at.strftime("%B") %></p>
				</div>
				<p class="author"><%= @blog.created_at.strftime("%d %^b") %> | <%= link_to @blog.author.name.upcase, @blog.author unless @blog.author.nil? %></p>
				<%= @blog.body.html_safe %>
			</div>
		</div>
		<%= render "blogs/share" %>

		<div class="body">
			<div class="blog">
				<div class="cvg-disqus">
					<div id="disqus_thread">
					</div>
				    <script type="text/javascript">
				        var disqus_shortname = 'convergencelondon';
				        /* * * DON'T EDIT BELOW THIS LINE * * */
				        (function() {
				            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				        })();
				    </script>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :js do %>
<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
<script>
	window.fbAsyncInit = function() {
		FB.init({
		  appId      : '1497478090528421',
		  xfbml      : true,
		  version    : 'v2.1'
		});

		$(function(){
			$("#cvgfb").click(function(e){
				e.preventDefault();
				FB.ui({
				  method: 'share',
				  href: '<%= request.url %>'
				});
			})
		})
	};

	(function(d, s, id){
	 var js, fjs = d.getElementsByTagName(s)[0];
	 if (d.getElementById(id)) {return;}
	 js = d.createElement(s); js.id = id;
	 js.src = "//connect.facebook.net/en_US/sdk.js";
	 fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

</script>
<% end %>