<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-pages"><%= link_to "Pages", casein_pages_path %></li>
<li id="tab-venues"><%= link_to "Venues", casein_venues_path %></li>
<li id="tab-blogs"><%= link_to "Blogs", casein_blogs_path %></li>
<li id="tab-categories"><%= link_to "Categories", casein_categories_path %></li>
<li id="tab-events"><%= link_to "Events", casein_events_path %></li>