<div id="container">
      
  <% @events.each do |event| %>
  <div class="heading">
    <h1><%= link_to event.name, event %></h1>
  </div>

  <div class="content">
    <img src="<%= asset_path "" %>"/>
    <div>
      <p><%= event.venue.name %></p>
      <p><%= event.start_at.strftime("%H:%m") %> - <%= event.end_at.strftime("%H:%m %^h %d") %></p>
      <% if event.all_day %><p>ALL DAY</p><% end %>
      <p>£<%= event.price %></p>
      <%= render "pages/button" %>
    </div>
  </div>

  <% end %>
  
</div>