<div id="container">
      
  <% @events.each do |event| %>
  <div class="heading">
    <h1><%= link_to event.name, event %></h1>
  </div>

  <div class="content">
    <img src="#" style="width: 65px; height: 65px; position: absolute; left: -33px; top: -33px; background-color: #444" />
    <div>
      <p><%= event.venue.name %></p>
      <p><%= event.start_at %></p>
      <p><%= event.end_at %></p>
      <p>all day: <%= event.all_day %></p>
      <p>£<%= event.price %></p>
    </div>
  </div>

  <% end %>
  
</div>