<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Venue</th>
      <th>End time</th>
      <th>Start time</th>
      <th>All day?</th>
      <th>Price</th>
      <th>Tickets</th>
      <th>Tickets</th>
      <th>Tickets</th>
      <th>Tickets</th>
      <th>Tickets</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.venue %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.all_day %></td>
        <td><%= event.price %></td>

        <td><%= event.ticket_one_name %>, <%= event.ticket_one_url %></td>

        <td><%= event.ticket_two_name %>, <%= event.ticket_two_url %></td>

        <td><%= event.ticket_three_name %>, <%= event.ticket_three_url %></td>

        <td><%= event.ticket_four_name %>, <%= event.ticket_four_url %></td>

        <td><%= event.ticket_five_name %>, <%= event.ticket_five_url %></td>

      </tr>
    <% end %>
  </tbody>
</table>