<div id="container">
      
  <div class="heading">
    <h1><%= link_to @event.name, @event %></h1>
  </div>

  <div class="content">
    <img src="#"/>
    <div>
      <p><%= @event.name %></p>
      <p><%= @event.venue.name %></p>
      <p><%= @event.start_at.strftime("%H:%m") %>–<%= @event.end_at.strftime("%H:%m") %></p>
      <% if @event.all_day %><p>all-day event</p><% end %>
      <% if @event.description %><p><%= @event.description.html_safe %></p><% end %>
      <p>£<%= @event.price %></p>
      <button class="buy" style="margin-top: 1.5em; z-index: 999; text-transform: uppercase; border: 0; color: #fff; width: 148px; height: 50px; background: url(<%= asset_path "button.gif" %>)">Buy tickets</button>
    </div>
  </div>

</div>