<% pagetitle @event.name %>

<% content_for :meta do %>
<meta property="og:url" content="<%= request.url %>" /> 
<meta property="og:title" content="<%= @event.name %>" />
<meta property="og:description" content="<%= truncate_html(strip_tags(@event.description.html_safe), length: 500) unless @event.description.nil? %>" /> 
<meta property="og:image" content="http://<%= request.host %><%= asset_path 'logo.png' %>" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ConvergenceLDN">
<meta name="twitter:creator" content="@ConvergenceLDN">
<meta name="twitter:title" content="<%= @event.name %>">
<meta name="twitter:description" content="<%= truncate_html(strip_tags(@event.description.html_safe), length: 200) unless @event.description.nil? %>">
<meta name="twitter:image:src" content="<%= @event.img1 unless @event.img1_file_name.nil? %>">
<% end %>

<div id="container">
    <% if @event.shortimg1_file_name %>
      <img src="<%= @event.shortimg1(:small) %>" srcset="<%= @event.shortimg1(:small) %> %> 640w, <%= @event.shortimg1(:large) %> 1280w" />
    <% elsif @event.img1_file_name %>
      <img src="<%= @event.img1(:small) %>" srcset="<%= @event.img1(:small) %> %> 640w, <%= @event.img1(:large) %> 1280w" />
    <% end %>

  <div class="content">
    <div class="body">
      <div class="blog">
        <h1><%= @event.name %></h1>
        <div class="datesquare">
          <p><%= @event.start_at.strftime("%d") unless @event.start_at.nil? %></p>
          <p><%= @event.end_at.strftime("%B") unless @event.end_at.nil? %></p>
        </div>
        <p class="time"><b><%= @event.start_at.strftime('%d %^B %Y') unless @event.start_at.nil? %></b></p>
        <p class="address"><%=@event.start_at.strftime("%H:%M") unless @event.start_at.nil? %> - <%=@event.end_at.strftime("%H:%M") unless @event.end_at.nil? %></p>
        <p class="address"><%=@event.venue.name.html_safe unless @event.venue.nil? %></p>
        <p><%=@event.venue.details unless @event.venue.nil? %></p>

        <%= render "pages/button", :event => @event %>

        <%= @event.description.html_safe unless @event.description.nil? %>

      </div>
    </div>
    <%= render "blogs/share" %>

    <div class="body">
      <div class="blog">
        <div class="cvg-disqus">
          <div id="disqus_thread">
          </div>
            <script type="text/javascript">
                var disqus_shortname = 'convergencelondon';
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :js do %>
<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1497478090528421',
      xfbml      : true,
      version    : 'v2.1'
    });

    $(function(){
      $("#cvgfb").click(function(e){
        e.preventDefault();
        FB.ui({
          method: 'share',
          href: '<%= request.url %>'
        });
      })
    })
  };

  (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>
<% end %>