<!-- BLOG ROW -->
<div id="blogrow" class="row">
  <div>
    <p class="cat"><% if @blog.category %>
      <img src="<%= asset_path "#{@blog.category.name.downcase}.gif" %>" alt="<%= @blog.category.name %>"/>
    <% end %></p>
    <p><%= @blog.created_at.strftime("%d %^b") %> | @Ben_Watt</p>
    <h3><%= @blog.title %></h3>
    <p class="desc"><%= truncate(@blog.body, length: 300) %></p>
  </div>
  <div>
    <%= image_tag "8.jpg" %>
  </div>
</div>
<!-- END BLOG ROW -->