<!-- BLOG ROW -->
<% @blogs.each do |blog| %>
<div class="blogrow row <%= cycle('odd', 'even')%>">
<div>
  <div class="txt">
    <p class="cat">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px"
   height="36px" viewBox="0 0 7.68 7.68" enable-background="new 0 0 7.68 7.68" xml:space="preserve">
      <g id="Open_book_1_" enable-background="new    ">
        <path fill="#444444" d="M7.141,0.021L3.968,0.88C3.887,0.902,3.712,0.901,3.632,0.879L0.541,0.022
    C0.265-0.054-0.002,0.146-0.002,0.43v5.836c0,0.24,0.183,0.471,0.415,0.535l3.091,0.856c0.083,0.023,0.189,0.036,0.299,0.036
    c0.076,0,0.188-0.006,0.291-0.034L7.266,6.8c0.233-0.063,0.417-0.293,0.417-0.534V0.43C7.683,0.146,7.415-0.054,7.141,0.021z
     M3.6,7.187L0.533,6.338C0.51,6.332,0.478,6.289,0.478,6.266v-5.76l3.026,0.836C3.53,1.349,3.569,1.348,3.6,1.354V7.187z
     M7.202,6.266c0,0.023-0.039,0.064-0.062,0.071L4.08,7.166V1.345c0.005-0.001,0.009,0,0.014-0.001l3.108-0.841V6.266z M4.814,2.756
    c0.021,0,0.044-0.003,0.065-0.009l1.68-0.473c0.128-0.037,0.202-0.169,0.166-0.296S6.557,1.777,6.43,1.812L4.75,2.285
    C4.622,2.321,4.548,2.454,4.584,2.581C4.613,2.687,4.71,2.756,4.814,2.756z M4.814,4.196c0.021,0,0.044-0.003,0.065-0.009
    l1.68-0.473c0.128-0.036,0.202-0.168,0.166-0.296C6.689,3.291,6.557,3.217,6.43,3.252L4.75,3.725
    C4.622,3.761,4.548,3.894,4.584,4.021C4.613,4.127,4.71,4.196,4.814,4.196z M4.814,5.637c0.021,0,0.044-0.003,0.065-0.01
    l1.68-0.473c0.128-0.036,0.202-0.168,0.166-0.296C6.689,4.731,6.557,4.657,6.43,4.692L4.75,5.165
    C4.622,5.201,4.548,5.334,4.584,5.461C4.613,5.567,4.71,5.637,4.814,5.637z M2.959,2.285L1.28,1.812
    C1.153,1.777,1.02,1.851,0.984,1.979C0.948,2.106,1.022,2.238,1.15,2.275L2.83,2.748c0.021,0.006,0.043,0.009,0.065,0.009
    c0.104,0,0.201-0.069,0.23-0.175C3.162,2.454,3.087,2.321,2.959,2.285z M2.959,3.725L1.28,3.252
    C1.153,3.217,1.02,3.291,0.984,3.418C0.948,3.546,1.022,3.679,1.15,3.715L2.83,4.188c0.021,0.006,0.043,0.009,0.065,0.009
    c0.104,0,0.201-0.069,0.23-0.175C3.162,3.894,3.087,3.761,2.959,3.725z M2.959,5.165L1.28,4.692
    C1.153,4.657,1.02,4.731,0.984,4.858C0.948,4.986,1.022,5.118,1.15,5.154L2.83,5.627c0.021,0.007,0.043,0.01,0.065,0.01
    c0.104,0,0.201-0.069,0.23-0.176C3.162,5.334,3.087,5.201,2.959,5.165z"/>
      </g>
    </svg>
    </p>
    <p><%= blog.created_at.strftime("%d %^b") %> | @Ben_Watt</p>
    <h3><%= blog.title %></h3>
    <p class="desc"><%= truncate(strip_tags(blog.body), length: 300) %> <a style="text-transform:uppercase" href="/blogs/<%= blog.id %>" />read more</a></p>
  </div>
  <div class="img" style="background-image: url(<%= asset_path "8.jpg" %>)">
  </div>
 </div>
</div>
<% end %>
<!-- END BLOG ROW -->