<!-- EVENTS ROW -->
<div class="events row">
  <% @moreEvents.each_with_index do |event, i| %>
  <div class="event-container" style="z-index: <%= (i*-1)+5%>; background-image: url(<%= event.img1 %>);">
    <div class="event-overlay">
        
    </div>

    <div class="event-inner">
          <p class="hide1">
            <img src= "<%= asset_path 'loc.gif' %>" style="vertical-align: middle; margin-right: 5px;">
            <%= event.venue.name %>
          </p>
          <p class="hide2">
            <img src= "<%= asset_path 'time.gif' %>" style="vertical-align: middle; margin-right: 5px;">
            <%= event.start_at.strftime('%H:%M') %>
          </p>
          <p>
            <img src= "<%= asset_path 'cal.gif' %>" style="vertical-align: middle; margin-right: 5px;">
            <%= event.start_at.strftime('%d %^b') %>
          </p>
          <p><%= event.name %></p>
          <% if event.details %>
            <p><%= event.details %></p>
          <% end %>
          <p><a href="#" style="color: #fff">BUY TICKETS</a></p>
        </div>

  </div>
  <% end %>
</div>
<!-- END EVENTS ROW style="display: block; height: 3em; font-size: 2em; line-height: 1em; padding: 0.5em 0;"-->