<div class="events row">
  <% @moreEvents.each_slice(4) do |row| %>

 
    <div>
 
   <% row.each_with_index do |event, i| %>
    <a href="/events/<%= event.slug %>" />
    <div class="event-container" style="z-index: <%= (i*-1)+5%>; background-image: url(<%= event.img1(:small) %>);">
      <div class="event-overlay">
      </div>
    </div>
    

    <div class="event-inner">
            <p class="time"><b><%= event.start_at.strftime('%d %^b') unless event.start_at.nil? %></b></p>
            <p class="name"><b><%= event.name unless event.name.nil? %></b></p>
          </div>
    </a>
    <% end %>
      </div>
  
  <% end %>
</div>

