<script>
var cvgHeight = window.innerHeight
</script>


<!-- 

<div id="dots" style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; background-image: url(<%= asset_path "dots.png" %>);background-position: 50% 50%; background-size: cover; z-index: 100; background-color: transparent; transform: rotateY(50deg); "></div>
 -->


<!-- ********** MAIN EVENTS PANEL ********** -->
<!-- ********** ***************** ********** -->
<!-- ********** ***************** ********** -->

<div id="splash-shift"></div>
<script>
  var splashShift = document.querySelector("#splash-shift");
  splashShift.style.height = cvgHeight + 'px';
</script>

<nav>
  <li>Events</li>
  <li>Locations</li>
  <li><img src="<%= asset_path "casein/convergence.png" %>" /></li>
  <li>About</li>
  <li>Blog</li>
</nav>

<% @events.each_with_index do |event, i| %>
  <div class="splash" style="background-image: url(<%=eventImage(event)%>); background-position: 50% 50%; background-size: cover; z-index: -1">
    <div style="width: 55%; margin: 0 auto; text-align: center; font-size: 2em; line-height: 2em; color: #ededed; height: 100%; padding-top: 300px;">
      <h1 style="line-height: 1.5em"><%= event.name %></h1>
      <h2><%= event.details %></h2>
      <button class="buy" style="margin-top: 1.5em; z-index: 999; text-transform: uppercase; border: 0; color: #fff; width: 148px; height: 50px; background: url(<%= asset_path "button.gif" %>)">Buy tickets</button>
    </div>
  </div>  
<% end %>
<!-- ********** ***************** ********** -->
<!-- ********** ***************** ********** -->
<!-- ********** ***************** ********** -->





<script>
    var splashes = document.querySelectorAll(".splash");
    // [].forEach.call(subSplashes, function(el){
    //   el.style.height = cvgHeight + 'px';
    // })

    var current = 0;
    var numSplashes = splashes.length-1;

    function rotateEvents() {
      splashes[current].style.opacity = 0;
      current++;
      if (current > numSplashes) {
        current = 0;
      }
      splashes[current].style.opacity = 1;
    }

    window.setInterval(rotateEvents, 5000);
</script>

<script>
//var dots = $("#dots");

// window.onmousemove = function(e){
//   dots.css('transform', 'rotateY('+e.clientX+'deg)').css('transform', 'rotateX('+e.clientY+'deg)')
// }
</script>

<script type="text/javascript">
$(document).ready(function() {
  $('nav').waypoint('sticky');
});
</script>

<!-- EVENTS ROW -->
<div class="events row">
  <% @moreEvents.each_with_index do |event, i| %>
  <div style="z-index: <%= (i*-1)+5%>; left: <%= i*20 %>%; background-image: url(<%= event.img1 %>); background-size: cover; background-position: 50% 50%;">
    <div style="height: 200px; margin-top: 340px; padding: 0 12%;">
        <div style="color: #fff; position: absolute; bottom: 0">
          <p style="line-height: 16px; padding: 0;" ><img src= "<%= asset_path 'cal.gif' %>" style="vertical-align: middle; margin-right: 5px;"><%= event.start_time.strftime('%d %^b') %></p>
          <p style="display: block; height: 3em; font-size: 2em; line-height: 1em; padding: 0.5em 0;"><%= event.name %></p>
          <% if event.details %>
            <p><%= event.details %></p>
          <% end %>
          <p style="padding-top: 2em"><a href="#" style="color: #fff">BUY TICKETS</a></p>
        </div>
    </div>
  </div>
  <% end %>
</div>
<!-- END EVENTS ROW -->





<!-- BLOG ROW -->
<div class="row" style="clear: left; float: left; height: 600px">
  <div style="width:50%; float: left;">
    <p style="display: block; text-align: center; margin-top: 2em">Nov 10 | @Ben_Watt</p>
    <h1 style="font-size: 4em; line-height: 1em; margin: 1em 1em 0.5em 1em">Looking back it was like the Bee Gees or something</h1>
    <p style="margin-left: 50%">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor.</p>
  </div>
  <div style="width:50%; float: right">
    <%= image_tag "8.jpg" %>
  </div>
</div>
<!-- END BLOG ROW -->


<!-- VIDEO ROW -->
<div class="row" style="clear:left; float: left; height: 700px;">
  <div>
    <iframe width="100%" height="700" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/141161597&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </div>
</div>
<!-- END VIDEO ROW -->


<!-- MAILING LIST ROW -->
<div class="row" style="height: 300px;">
<p style="display: block; text-align: center; margin-top: 2em">Subscribe to announcements. Not spam.</p>

<div style="text-align: center">
  <form>
      <input type="text" value="enter email" style="width: 33%; height: 1em; padding: 1em; color: #666; font-size: 1.5em" />
  </form>
</div>
</div>
<!-- END MAILING LIST ROW -->



<!-- FOOTER ROW -->
<div class="row" style="background: #444; height: 200px; color: #aaa">
<h2 style="margin: 1em;">Convergence</h2>
<ul>
      <li>Events</li>
      <li>Locations</li>
      <li>About</li>
      <li>Blog</li>
</ul>
</div>
<!-- END FOOTER ROW -->




<script type="application/processing">

 var  VerletPhysics2D = toxi.physics2d.VerletPhysics2D,
      VerletParticle2D = toxi.physics2d.VerletParticle2D,
      CircularConstraint = toxi.physics2d.constraints.CircularConstraint,
      AttractionBehavior = toxi.physics2d.behaviors.AttractionBehavior,
      GravityBehavior = toxi.physics2d.behaviors.GravityBehavior,
      Circle = toxi.geom.Circle,
      Vec2D = toxi.geom.Vec2D,
      VerletSpring2D = toxi.physics2d.VerletSpring2D,
      Rect = toxi.geom.Rect;

import toxi.geom.*;
import toxi.physics2d.*;
import toxi.physics2d.behaviors.*;
import toxi.color.*;
import toxi.physics2d.constraints.*;

int REST_LENGTH = 30;
VerletPhysics2D physics;
AttractionBehavior mouseAttractor;
AttractionBehavior antiAttractor;
AttractionBehavior mouserep;
CircularConstraint myConstraint;
Circle c;

Vec2D mousePos;
ToneMap toneMap;
Boolean m;





/********************************************/
/*        SETUP                              *
*********************************************/
void setup() {
  size(window.innerWidth, window.innerHeight);
  physics = new VerletPhysics2D();
  //physics.setDrag(0.9);
  //physics.setWorldBounds(new Rect(0, 0, width, height));
  //physics.addBehavior(new GravityBehavior(new Vec2D(0, 0.15)));
  //physics.addBehavior(new AttractionBehavior(new Vec2D(width/2, height/2), 20, 10, 0.01));

  /******/
  /******/
  // Get mouse position so we can attract particles to it
  mousePos = new Vec2D(mouseX, mouseY); 
  mouseAttractor = new AttractionBehavior(mousePos, 540, 50);
  physics.addBehavior(mouseAttractor);

  /******/
  /******/
  // This stops particles very near the cursor from jittering
  mouserep = new AttractionBehavior(mousePos, 35, -50);
  physics.addBehavior(mouserep);
  /******/
  /******/


  /******/
  /******/
  // Set up color gradient for dots
  ColorGradient gradient = new toxi.color.ColorGradient();
  gradient.addColorAt(0, toxi.color.NamedColor.PURPLE);
  gradient.addColorAt(120, toxi.color.NamedColor.DEEPPINK);
  gradient.addColorAt(255, toxi.color.NamedColor.DODGERBLUE);
  // now create a ToneMap instance using this gradient
  toneMap = new toxi.color.ToneMap(0, width/2, gradient);
  /******/
  /******/

  for(int y=0; y<(height/REST_LENGTH); y++) {
    for(int x=0; x<(width/REST_LENGTH); x++) {
      VerletParticle2D p = new VerletParticle2D(x*REST_LENGTH,y*REST_LENGTH);
      VerletParticle2D q = new VerletParticle2D(x*REST_LENGTH,y*REST_LENGTH);
      //ellipse(q.x, q.y, 4, 4);
      q.lock();

      VerletSpring2D s = new VerletSpring2D(p, q, 0, 0.04);
      physics.addSpring(s);

      // p.addConstraint(myConstraint);
      physics.addParticle(p);
      //physics.addParticle(q);
    }
  }

  // c = new Circle(mousePos,175);
  // myConstraint = new CircularConstraint(c);
}
/********************************************/
/********************************************/
/********************************************/





void addParticle() {
 // Vec2D randLoc = Vec2D.randomVector().scale(5).addSelf(width / 2, 0);
 //  VerletParticle2D p = new VerletParticle2D(randLoc);
 //  physics.addParticle(p); 
  //physics.addBehavior(new AttractionBehavior(p, 20, -1.2, 0.01));
}





/********************************************/
/*        DRAW                               *
*********************************************/
void draw() {
  background(0,0,0,0);
  noStroke();
  mousePos.set(mouseX, mouseY);
  physics.update();
  for (int i=0;i<physics.particles.length;i++) {
    VerletParticle2D p = physics.particles[i];


    fill(toneMap.getARGBToneFor(p.distanceTo(mousePos)));

    /****** SHOW DOTS ******/
    ellipse(p.x, p.y, 4, 4);
    /****** ********* ******/
  }

    for(int i =0; i< physics.springs.length; i++) {
      VerletSpring2D s = physics.springs[i];

      /* When mouse is down, we giveeach particle a really long spring */
      if (m == true) {
        s.setRestLength(100);
      } else {
        s.setRestLength(0);
      }

      /****** SHOW SPRINGS ******/
      //if (m == true) {
        stroke(toneMap.getARGBToneFor(s.a.distanceTo(mousePos)));
        line(s.a.x,s.a.y,s.b.x,s.b.y);
      //}
      /****** ************ ******/
    }
}
/********************************************/
/********************************************/
/********************************************/





/********************************************/
/*        MOUSE FUNCTIONS                    *
*********************************************/
void mousePressed() {
  m == true ? m = false : m = true;
  //physics.removeBehavior(mouseAttractor);
}

void keyPressed() {
  m == true ? m = false : m = true;
  //physics.removeBehavior(mouseAttractor);
}


/********************************************/
/********************************************/
/********************************************/





</script>

<canvas id="myCanvas" style="position: fixed; left:0; right: 0; top: 0; bottom: 0; z-index: 1"></canvas>


