<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name.html_safe %>
</p>

<p>
  <strong>Location:</strong>
  <%= @venue.location %>
</p>

<p>
  <strong>Details:</strong>
  <%= @venue.details %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
