<!DOCTYPE html>
<html class="no-js">
<head>
  <title>convergence : <%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :meta %>
</head>
<body class="<%= controller.controller_name %>-<%=controller.action_name %>">
	<span class="player"></span>
	<%= render "pages/splashshift" %>
	<%= yield %>
	<%= render "pages/footer" %>
	<%= yield :js %>
	<%= render "shared/ga" %>
</body>
</html>
