<!DOCTYPE html>
<html>
<head>
  <title>Convergence</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="<%= controller.controller_name %>-<%=controller.action_name %>">
	
	<span class="player"></span>
	
	<%= render "pages/splashshift" %>
	
	<%= render "shared/nav" %>

	<%= yield %>

	<!-- <script src="//connect.soundcloud.com/sdk.js"></script> -->

	<%= render "pages/mailinglistrow" %>

	<%= render "pages/footer" %>

	<script>
	  WebFontConfig = {
	  	google: {
	    	families: ['Oxygen'],
	    	text: 'CONVERGENCE!'
	  	}
	  };

	  (function() {
	    var wf = document.createElement('script');
	    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	              '://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js';
	    wf.type = 'text/javascript';
	    wf.async = 'true';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(wf, s);
	  })();
	</script>

</body>
</html>
